Brotli==1.1.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cssselect2==0.7.0
fonttools==4.46.0
html5lib==1.1
idna==3.6
Markdown==3.5.1
Pillow==10.1.0
pycparser==2.21
pydyf==0.8.0
pyphen==0.14.0
requests==2.31.0
six==1.16.0
tinycss2==1.2.1
urllib3==2.1.0
weasyprint==60.2
webencodings==0.5.1
zopfli==0.2.3
Brotli==1.1.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cssselect2==0.7.0
fonttools==4.46.0
html5lib==1.1
idna==3.6
Markdown==3.5.1
markdown-include==0.8.1
Pillow==10.1.0
pycparser==2.21
pydyf==0.8.0
pyphen==0.14.0
requests==2.31.0
six==1.16.0
tinycss2==1.2.1
urllib3==2.1.0
weasyprint==60.2
webencodings==0.5.1
zopfli==0.2.3
