@page {
    margin-top: 4cm;
    size: A4;
  
    @bottom-left {
      color: #808080;
      content: string(chapter) " - " string(heading);
    }
  
    @bottom-right {
      color: #808080;
      content: counter(page) " of " counter(pages);
    }
  
    @top-left {
      background-color: rgb(210, 229, 255);
      color: #244369;
      content: string(chapter);
      padding-top: 1.6cm;
      width: 85%
    }
  
    @top-left-corner {
      background-color: rgb(210, 229, 255);
      content: "";
      width: 100%;
    }
  
    @top-right {
      background: url(logo) rgb(210, 229, 255) no-repeat right;
      background-size: 5cm;
      content: "";
      width: 5cm;
    }
  
    @top-right-corner {
      background-color: rgb(210, 229, 255);
      content: "";
      width: 100%;
    }
  }
  
  @page cover {
    background-color: rgb(210, 229, 255);
  
    @bottom-left {
      content: "";
    }
  
    @bottom-right {
      content: "";
    }
  
    @top-left {
      content: none;
    }
  
    @top-left-corner {
      content: none;
    }
  
    @top-right {
      background: url(logo) no-repeat right;
      background-size: 5cm;
    }
  
    @top-right-corner {
      content: none;
    }
  }
  
  html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.25;
    font-size: 0.75rem;
  }
  
  .title {
    color: #244369;
    string-set: title content();
    font-size: 2rem;
    page: cover;
    margin-top: 20%;
  }

  h1 {
    color: #244369;
    font-size: 1.5rem;
    page: cover;
    string-set: chapter content();
    margin-bottom: 0rem;
    margin-top: 50%;
  }
    
  .footer {
    font-size: 0.9rem;
    color: #244369;
    display: flex;
    margin-top: 70%;
  }
  
  .footer div {
    border-left: 1px solid #244369;
    flex: 3;
    padding-left: 1rem;
  }
  
  h2 {
    margin-top: 3rem;
    page-break-before: always;
    string-set: heading content();
  }
  
  h2::before {
    background-color: rgb(210, 229, 255);
    content: "";
    display: inline-block;
    height: 1rem;
    margin-right: 0.75rem;
    width: 1rem;
  }